{% extends '::base_gda.html.twig' %}

{% block body %}
	<!-- article class="chefe">
		<h2><span>Destaques</span></h2>
		<div class="slider-noticias">
			<div class="texto"></div>
		</div>
		<div class="seletor">
			<a href="javascritp:void(0)" class="left"></a>
			<span class="pagina-atual">1/13</span>
			<a href="javascript:void(0)" class="right"></a>
		</div>
	</article --!>
	<article class="chefe">
		<h2><span>Notícias</span></h2>
		{{ render(controller('CMSGDABundle:FrontEnd:noticias')) }}
	</article>
	<article class="chefe">
		<h2><span>Fotos</span></h2>
		<ul class="videos">
			<li>
				em breve..
			</li>
		</ul>
	</article>
	<article class="chefe">
		<h2><span>Vídeos</span></h2>
		<ul class="videos">
			<li>
				em breve..
			</li>
		</ul>
	</article>
{% endblock %}
