{% extends '::base_gda.html.twig' %}

{% block body %}
	<article class="chefe">
		<h2><span>{{ post.title }}</span></h2>
		<div class="texto">
			{{ post.content|raw }}
			<br />
			<br />
			{{ render(controller('CMSGDABundle:FrontEnd:pagseguro', {'slug' : post.slug})) }}
		</div>
	</article>
{% endblock %}
