{% extends "::base_center.html.twig" %}
{% block title %}
    {{ status_code }}
{% endblock %}
{% block content %}
<div class="full_w">
    <h2>Ops!</h2>

    <p>Seu usuário não tem permissão para acessar essa página</p>
</div>
{% endblock %}