{# extends "::base.html.twig" #}

{% block body %}
<ul class="videos">
	{% for album in albuns %}
	<li>
		{{ render(controller('CMSGDABundle:FrontEnd:album', { 'slug' : album.slug })) }}
		<h3 style="text-align:center"><a href="{{ url('site_term', { 'slug' : 'album', 'term' : album.slug }) }}">{{ album.name|slice(0,10) }}...</a></h3>
	</li>
	{% endfor %}
</ul>
{% endblock %}
