{# extends "::base.html.twig" #}

{% block body %}
<h3>Caravanas</h3>
<ul class="caravanas">
	{% for post in posts %}
		<li>
			<a href="{{ url('site_post', {'type' : 'caravanas', 'slug' : post.slug}) }}"> {{ post.title }} </a>
		</li>
	{% endfor %}
</ul>
{% endblock %}
