{# extends "::base.html.twig" #}

{% block body %}
{% if post.slug != 'loja-virtual' %}
<h3>Pagar online!</h3>
<form action="https://pagseguro.uol.com.br/v2/checkout/payment.html" method="post" target="_blank">
	<div class="pay">
		<div>
			<label for="item_quant1">Nome Completo: </label>
			<input type="text" name="senderName" id="senderName">
			
			<input type="hidden" name="receiverEmail" value="lucianorodrigues1988@yahoo.com.br"> 
			<input type="hidden" name="currency" value="BRL">
			  
			<input type="hidden" name="itemId1" value="0003">  
			<input type="hidden" name="itemDescription1" value="Galo x Vasco">
			<input type="hidden" name="itemAmount1" value="60.00">
			<input type="hidden" name="itemQuantity1" value="1">
			<input type="hidden" name="itemWeight1" value="0">
			
			<input type="hidden" name="reference" value="GALOXVASCO">  
		</div>
		
		<input type="image" name="submit"   
    src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"   
    alt="Pague com PagSeguro">
	</div>
</form>
{% else %}
<h3>Pré venda, cachecol racismo</h3>
<form action="https://pagseguro.uol.com.br/v2/checkout/payment.html" method="post" target="_blank">
	<div class="pay">
		<div>
			<label for="senderName">Nome Completo: </label>
			<input type="text" name="senderName" id="senderName">
			
			<label>Quantidade: </label>
			<input type="text" name="itemQuantity1">
			
			<input type="hidden" name="receiverEmail" value="lucianorodrigues1988@yahoo.com.br"> 
			<input type="hidden" name="currency" value="BRL">
			  
			<input type="hidden" name="itemId1" value="0002">  
			<input type="hidden" name="itemDescription1" value="Cachecol racismo, pré venda">
			<input type="hidden" name="itemAmount1" value="100.00">
			<input type="hidden" name="itemWeight1" value="0">
			
			<input type="hidden" name="reference" value="CACHECOLRACISMO">  
		</div>
		
		<input type="image" name="submit"   
    src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/120x53-pagar.gif"   
    alt="Pague com PagSeguro">
	</div>
</form>
{% endif %}
{% endblock %}
