{# extends "::base.html.twig" #}

{% block body %}
<ul class="videos">
	{% for video in videos %}
	<li>
		{{ render(controller('CMSGDABundle:FrontEnd:video', {'slug' : video.slug,'url' : video.content, 'width' : 155, 'height' : 130})) }}
		<h3 style="text-align:center"><a href="{{ url('site_post', {'slug' : video.slug, 'type' : 'videos'}) }}">{{ video.title|slice(0,10) }}...</a></h3>
	</li>
	{% endfor %}
</ul>
{% endblock %}
