{% extends '::base_site.html.twig' %}

{% block body -%}
    <h1>
        Bem vindo ao site.
    </h1>

    {% for name,link in links %}
        <a href="{{ link }}">{{ name }}</a>
        <br />
    {% endfor %}
{% endblock %}