{% extends '::base.html.twig' %}

{% block body -%}
    <div class="h_title">{{ postType }} > Criar Novo</div>
    <h1>{# Adicionar BreadCrumbs #}</h1>

    <form action="{{ path('post_ccreate') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <div class="general-btns btns">
            <button type="submit" class="save">Salvar</button>
            <button type="reset" class="cancel">Cancelar</button>
        </div>
    </form>
{% endblock %}
