/*Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}a{text-decoration:none;color:#62577F}a:hover{color:#11003F;text-decoration:underline}html{overflow:-moz-scrollbars-vertical}

/*Grid*/
.container_16{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11,.push_12,.pull_12,.push_13,.pull_13,.push_14,.pull_14,.push_15,.pull_15,.push_16,.pull_16{position:relative}.alpha{margin-left:0}.omega{margin-right:0}.container_16 .grid_1{width:40px}.container_16 .grid_2{width:100px}.container_16 .grid_3{width:160px}.container_16 .grid_4{width:220px}.container_16 .grid_5{width:280px}.container_16 .grid_6{width:340px}.container_16 .grid_7{width:400px}.container_16 .grid_8{width:460px}.container_16 .grid_9{width:520px}.container_16 .grid_10{width:580px}.container_16 .grid_11{width:640px}.container_16 .grid_12{width:700px}.container_16 .grid_13{width:760px}.container_16 .grid_14{width:820px}.container_16 .grid_15{width:880px}.container_16 .grid_16{width:940px}.container_16 .prefix_1{padding-left:60px}.container_16 .prefix_2{padding-left:120px}.container_16 .prefix_3{padding-left:180px}.container_16 .prefix_4{padding-left:240px}.container_16 .prefix_5{padding-left:300px}.container_16 .prefix_6{padding-left:360px}.container_16 .prefix_7{padding-left:420px}.container_16 .prefix_8{padding-left:480px}.container_16 .prefix_9{padding-left:540px}.container_16 .prefix_10{padding-left:600px}.container_16 .prefix_11{padding-left:660px}.container_16 .prefix_12{padding-left:720px}.container_16 .prefix_13{padding-left:780px}.container_16 .prefix_14{padding-left:840px}.container_16 .prefix_15{padding-left:900px}.container_16 .suffix_1{padding-right:60px}.container_16 .suffix_2{padding-right:120px}.container_16 .suffix_3{padding-right:180px}.container_16 .suffix_4{padding-right:240px}.container_16 .suffix_5{padding-right:300px}.container_16 .suffix_6{padding-right:360px}.container_16 .suffix_7{padding-right:420px}.container_16 .suffix_8{padding-right:480px}.container_16 .suffix_9{padding-right:540px}.container_16 .suffix_10{padding-right:600px}.container_16 .suffix_11{padding-right:660px}.container_16 .suffix_12{padding-right:720px}.container_16 .suffix_13{padding-right:780px}.container_16 .suffix_14{padding-right:840px}.container_16 .suffix_15{padding-right:900px}.container_16 .push_1{left:60px}.container_16 .push_2{left:120px}.container_16 .push_3{left:180px}.container_16 .push_4{left:240px}.container_16 .push_5{left:300px}.container_16 .push_6{left:360px}.container_16 .push_7{left:420px}.container_16 .push_8{left:480px}.container_16 .push_9{left:540px}.container_16 .push_10{left:600px}.container_16 .push_11{left:660px}.container_16 .push_12{left:720px}.container_16 .push_13{left:780px}.container_16 .push_14{left:840px}.container_16 .push_15{left:900px}.container_16 .pull_1{left:-60px}.container_16 .pull_2{left:-120px}.container_16 .pull_3{left:-180px}.container_16 .pull_4{left:-240px}.container_16 .pull_5{left:-300px}.container_16 .pull_6{left:-360px}.container_16 .pull_7{left:-420px}.container_16 .pull_8{left:-480px}.container_16 .pull_9{left:-540px}.container_16 .pull_10{left:-600px}.container_16 .pull_11{left:-660px}.container_16 .pull_12{left:-720px}.container_16 .pull_13{left:-780px}.container_16 .pull_14{left:-840px}.container_16 .pull_15{left:-900px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_16:before,.container_16:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_16:after{clear:both}.clearfix,.container_16{zoom:1}


/*.container_12{margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:60px}.container_12 .grid_2{width:140px}.container_12 .grid_3{width:220px}.container_12 .grid_4{width:300px}.container_12 .grid_5{width:380px}.container_12 .grid_6{width:460px}.container_12 .grid_7{width:540px}.container_12 .grid_8{width:620px}.container_12 .grid_9{width:700px}.container_12 .grid_10{width:780px}.container_12 .grid_11{width:860px}.container_12 .grid_12{width:940px}.container_12 .prefix_1{padding-left:80px}.container_12 .prefix_2{padding-left:160px}.container_12 .prefix_3{padding-left:240px}.container_12 .prefix_4{padding-left:320px}.container_12 .prefix_5{padding-left:400px}.container_12 .prefix_6{padding-left:480px}.container_12 .prefix_7{padding-left:560px}.container_12 .prefix_8{padding-left:640px}.container_12 .prefix_9{padding-left:720px}.container_12 .prefix_10{padding-left:800px}.container_12 .prefix_11{padding-left:880px}.container_12 .suffix_1{padding-right:80px}.container_12 .suffix_2{padding-right:160px}.container_12 .suffix_3{padding-right:240px}.container_12 .suffix_4{padding-right:320px}.container_12 .suffix_5{padding-right:400px}.container_12 .suffix_6{padding-right:480px}.container_12 .suffix_7{padding-right:560px}.container_12 .suffix_8{padding-right:640px}.container_12 .suffix_9{padding-right:720px}.container_12 .suffix_10{padding-right:800px}.container_12 .suffix_11{padding-right:880px}.container_12 .push_1{left:80px}.container_12 .push_2{left:160px}.container_12 .push_3{left:240px}.container_12 .push_4{left:320px}.container_12 .push_5{left:400px}.container_12 .push_6{left:480px}.container_12 .push_7{left:560px}.container_12 .push_8{left:640px}.container_12 .push_9{left:720px}.container_12 .push_10{left:800px}.container_12 .push_11{left:880px}.container_12 .pull_1{left:-80px}.container_12 .pull_2{left:-160px}.container_12 .pull_3{left:-240px}.container_12 .pull_4{left:-320px}.container_12 .pull_5{left:-400px}.container_12 .pull_6{left:-480px}.container_12 .pull_7{left:-560px}.container_12 .pull_8{left:-640px}.container_12 .pull_9{left:-720px}.container_12 .pull_10{left:-800px}.container_12 .pull_11{left:-880px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:'';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix{height:1%}
*/

html { overflow-y: scroll;}

body{background:#f6f6f6; font:13px Arial; color:#676767}

p{line-height:18px}
a{color:#053d87; text-decoration:underline}
a:hover{color:#003}

h2, h3{color:#926600; margin-bottom:20px}
h2{font-size:20px}
h3{font-size:16px}


/* Header */
#header{position:relative; height:95px; /*background:url(img/bg-header.jpg) no-repeat top center;*/ padding-top:20px; overflow:hidden}


/* Header: Logo */
#logo h1, #header #logo p a{display:block; width:206px; height:69px; background:url(img/logo.png) no-repeat; overflow:hidden; text-indent:-1000px; margin-top:-2px;}


/* Header: Busca */
#top-search{padding:10px 0; text-align:right}
form input, .link-mais a, .link{display:inline-block; margin:0 0 10px 0; padding:5px 5px 5px 26px; line-height:16px; font:12px Arial; background:#fefefe; border:1px solid #CCC; border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 10px #ddd inset; color:#555}
#top-search .txt{background:#fefefe url(img/icon-busca.png) 5px 4px no-repeat; width:140px; font-size:13px; padding-left:25px}
form input:focus{background-color:#fff; border-color:#999; color:#222}

form input.send, .link-mais a, .link{/*width:80px;*/ padding:5px 10px; background:#f7f7f7; color:#036; cursor:pointer; box-shadow:0 -5px 10px 1px #ddd inset}
form input.send{width:80px}
form input.send:hover, .link-mais a:hover, .link:hover{background:#fff; color:#069; box-shadow:0 -5px 15px #e3e3e3 inset}


#header .link-mais{text-align:right}

#header #tel{padding-top:20px; color:#777; text-align:right}
#header #tel p{line-height:22px;}
#header #tel strong{font-size:17px; color:#a9730b}



/* Menu */
#menu{min-height:40px; margin-bottom:20px}
#menu ul{background:#00295d url(img/bg-menu.png) repeat-x; border:1px solid #001b44; border-radius:0 10px 0 10px}
#menu li, #menu li a{display:block; float:left}
#menu li:first-child, #menu li.first{margin-left:12px}
#menu li a{font-size:13px; color:#ddd; padding:10px 16px; line-height:16px; border-left:1px solid transparent; border-right:1px solid transparent; text-decoration:none}
#menu li a:hover, #menu li.ativo a{ color:#fff; background:#00408c url(img/bg-menu-item-hover.png) repeat-x; border-color:#001b44; text-decoration:none; box-shadow:-1px 0 0 rgba(255,255,255,0.2), 1px 0 0 rgba(255,255,255,0.2); }


/* Main */
#main{min-height:400px; /*background:url(img/bg-main.png) repeat-x;*/ margin-bottom:50px}

#content h2{font-size:20px; color:#926600}

/*
#sidebar{width:298px; border:1px solid #e3e3e3; background:#ecebeb url(img/bg-sidebar.png) repeat-x left bottom; border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0}

#sidebar .banner{padding:18px 10px; border-bottom:1px solid #e5e5e5; box-shadow:0 1px 0 #fff}
#sidebar .banner:last-child{border:0; box-shadow:0 0 0}
#sidebar .banner .b-img{display:block; float:left; width:110px; height:80px; margin:0 10px 10px 0; overflow:hidden;}
#sidebar .banner .b-img img{display:block; max-width:100%; max-height:100%;}
#sidebar .banner h3{margin-bottom:0}
#sidebar .banner h3 a{font-size:16px; font-weight:normal; color:#036; text-decoration:none}
#sidebar .banner h3 a:hover{text-decoration:underline; color:#014}
#sidebar .banner p, #sidebar .banner p a{font-size:12px; line-height:15px; text-decoration:none; color:#777; margin-top:10px}
#sidebar .banner p a:hover{color:#333; text-decoration:underline}


#breadcrumb{height:20px; margin-bottom:10px}
#breadcrumb li{display:block; float:left; margin:0 6px 0 0; color:#999}
#breadcrumb li a{margin:0 4px 0 0; text-decoration:none}
#breadcrumb li a:hover{text-decoration:underline}
*/


/* Link Mais (Padrao) */
.link-mais a{display:inline-block; width:auto; text-decoration:none; padding:5px 10px; font-size:12px; margin-bottom:0; color:#036 !important}
.link-mais a:hover{color:#222 !important}



/* Sidebar : Boxes */
.sidebar .box-menu{background:#fff; border:1px solid #eee; margin-bottom:15px}
.sidebar .box-menu .titulo{font-size:15px; font-weight:bold; color:#a9730b; padding:6px 7px; border-bottom:1px solid #eee; margin:0}
.sidebar .box-menu ul li{padding:9px 7px 8px; border-bottom:1px solid #eee; margin-bottom:-1px}
.sidebar .box-menu ul li a{text-decoration:none}
.sidebar .box-menu ul li a:hover{text-decoration:underline}

.box-menu img{display:block; max-width:35% !important; float:left; margin:5px 7px}


/* Sidebar: SideLeft */
#sideLeft{}

#sideLeft .box-menu{border-radius:8px 0 0 0}



/* Sidebar: SideRight */
#sideRight{}

#sideRight .box-menu{border-radius:0 8px 0 0}
#sideRight .box-menu p{font-size:11px; line-height:14px; margin:10px}
#sideRight .link-mais a, #boxes-home .link-mais a{font-size:11px}

#sideRight .link-rss{border-top:5px; border-top:1px solid #eee; margin:5px 0 0 !important; padding:7px 9px}
#sideRight .link-rss a{background:url(img/icon-rss-min.png) no-repeat top left; text-decoration:none; padding:3px 0 3px 23px}
#sideRight .link-rss a:hover{text-decoration:underline}



/* Sidebar: Newsletter */
#newsSide input{margin:3px 10px; width:130px; font-size:11px}
#newsSide .email{margin-right:0; width:90px}
#newsSide .send{margin:3px 0 3px 5px; width:30px; padding:4px}



/* Footer */
#footer{clear:both; padding:30px 0}

#f-menu{height:46px; background:url(img/bg-f-menu.png) repeat-x}
#f-menu ul{padding:15px 0}
#f-menu ul li{display:block; float:left; margin:0 0 0 8px; padding:0 0 0 8px; border-left:1px solid #ddd}
#f-menu ul li:first-child{border:0}
#f-menu ul li a{color:#069; text-decoration:none}
#f-menu ul li a:hover{color:#014; text-decoration:underline}

#copyright{font-size:11px; padding:15px 10px; color:#999}
#copyright .agencia{text-align:right}
#copyright .agencia a{display:block; float:right; width:112px; height:14px; margin:1px 0 0 10px; background:url(img/logo-tamandua.png) no-repeat; overflow:hidden; text-indent:1000px}


/* Home: Slider */
#slider{position:relative; width:100%; height:190px; overflow:hidden; border-radius:0 0 10px 10px}
#slider .container{width:100%; height:100%; z-index:10}
#slider img{display:block; min-width:100%; min-height:100%}

#slider .item{position:absolute; width:580px; height:190px; top:0; left:0}
#slider .item .leia-mais{display:block; position:absolute; right:15px; bottom:15px; z-index:5px; width:111px; height:27px}

#slider .nav{display:block; position:absolute; left:15px; bottom:15px; z-index:50}
#slider .nav span{display:inline-block; font-size:12px; color:#036; line-height:12px; padding:8px 11px; margin:0 5px 0 0; background:url(img/slider-nav.png) no-repeat; cursor:pointer}
#slider .nav span:hover, #slider .nav span.ativo{color:#926600; background-image:url(img/slider-nav-on.png); background-position:1px 0}


/* Home: Bem-vindo */
#bem-vindo{margin-top:20px}
#bem-vindo h2{font-size:15px; padding:0 0 10px; border-bottom:1px solid #ddd; box-shadow:0 1px 0 #fff; margin-bottom:0}
#bem-vindo p{margin:10px 0}



/* Home: Boxes */
#boxes-home{clear:both; margin-top:20px}

#boxes-home .grid_5{display:inline-block; vertical-align:top; background:#fff; border:1px solid #eee; margin:0 8px 0 0; border-radius:10px 0 0 0}
#boxes-home .grid_5.omega{margin:0 0 0 8px; border-radius:0 10px 0 0}
#boxes-home .grid_5 h2{padding:10px; border-bottom:1px solid #eee; margin-bottom:5px; font-size:14px; color:#036}
#boxes-home .grid_5 p{padding-right:4px}
#boxes-home .grid_5 a{color:#777; text-decoration:none}
#boxes-home .grid_5 a:hover{color:#036; text-decoration:underline}
#boxes-home .i-img{display:block; float:left; width:105px; height:105px; overflow:hidden; margin:-5px 10px 0 0}
#boxes-home .i-img img{display:block; height:100% !important}

#boxes-home .link-mais{padding-top:10px}


/* Formularios > Padrao */
form input{padding:4px;}
form #enviar{display:block; width:auto; padding:4px 13px; font-size:12px; color:#036; background:#dfdfdf url(img/bg-menu.png) repeat-x; border:1px solid #ddd; border-bottom-color:#b7b7b7; border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 0 1px #fff inset; text-shadow:1px 1px 0 #fff; cursor:pointer}
form #enviar:hover{color:#069; background-position:0 -15px; box-shadow:0 0 0 1px #fff inset, 0 1px 5px #ddd}



/*  
///////////////
	INTERNAS  
///////////////
*/
#content h1{font-size:22px; font-weight:normal; padding-bottom:10px; margin-bottom:15px; border-bottom:1px solid #ddd; box-shadow:0 1px 0 #fff; color:#A9730B}

#pg-txt p{margin:15px 0; line-height:19px}
#pg-txt h2{font-size:17px; margin-top:40px}
#pg-txt h3{font-size:15px; margin-top:20px; color:#555}

#pg-txt ul, #pg-txt ol{clear:both; margin:20px 15px; list-style:inside;}
#pg-txt ol{list-style:decimal inside}
#pg-txt ul li, #pg-txt ol li{margin:7px}

#pg-txt img{display:block; float:left; margin:0 20px 10px 0; max-width:100% !important}
#pg-txt .alignright{float:right; margin:0 0 10px 20px}
#pg-txt .aligncenter{float:none; margin:0 auto; margin-bottom:20px}

#pg-txt .wp-caption{background:#fff; padding:5px; border:1px solid #ddd}
#pg-txt .wp-caption img{display:blockl; min-width:100%; margin:0 0 5px}
#pg-txt .wp-caption-text{clear:both; position:relative; width:100%; color:#053d87; margin:0;}



/* Area: Quem Somos */
#quem-somos-busca{padding:20px 0}


#quem-somos-lista .item{position:relative; border:1px solid #ddd; min-height:95px; margin-bottom:15px}
#quem-somos-lista .item .i-img{display:block; float:left; width:75px; height:75px; border:1px solid #ddd; margin:10px 20px 10px 10px; background:#fff url(img/logo-min.jpg) no-repeat center}
#quem-somos-lista .item .i-img img{display:block; width:65px; height:65px; margin:5px}
#quem-somos-lista .item h3{font-size:14px; margin:10px 10px 3px 0}
#quem-somos-lista .item .especialidade{font-weight:bold; margin:0}

#quem-somos-lista .item .link{position:absolute; right:10px; bottom:10px; margin:0}
#quem-somos-lista .item .link span{display:inline-block; margin:0 5px 0 -3px; font-size:10px}
#quem-somos-lista .item .link .off, #quem-somos-lista .item .txt{display:none}

#quem-somos-lista .item .txt{clear:both; margin:10px 0 45px; /*background:#f7f7f7;*/ padding:10px}
#quem-somos-lista .item .txt p{margin:5px 0 15px}

#quem-somos-lista .item.open{background:#fff}
#quem-somos-lista .item.open .link span{display:none}
#quem-somos-lista .item.open .link .off{display:inline-block}



/* PADRAO: Lista Sanfona */
#pg-txt.sanfona h2{position:relative; font-size:14px; color:#036; padding:10px; border-bottom:1px solid #ddd; margin:0 0 -1px; cursor:pointer}
#pg-txt.sanfona h2:hover, #pg-txt.sanfona h2.open{background:#e3e3e3}
#pg-txt.sanfona .subcontent{display:none; background:#fff; border:1px solid #ddd; padding:15px 15px 0; margin-bottom:15px}
#pg-txt.sanfona .subcontent p, #pg-txt.sanfona .subcontent h3, #pg-txt.sanfona .subcontent h4{margin:0 0 15px}
#pg-txt.sanfona .subcontent h3, #pg-txt.sanfona .subcontent h4{font-size:14px}

#pg-txt.sanfona.plus h2{padding-left:26px}
#pg-txt.sanfona.plus h2 .icon{display:block; width:12px; height:12px; background:url(img/icon-lista-sanfona.png) no-repeat; position:absolute; top:12px; left:7px}
#pg-txt.sanfona.plus h2.open .icon{background-position:0 -32px}


/* PADRAO: Pagina com Menu interno */
#pg-menu{margin:20px 0 0 !important; list-style:none}
#pg-menu li{display:inline-block; padding:10px; margin:0 5px 0 0 !important; border:1px solid transparent; cursor:pointer}
#pg-menu li:hover, #pg-menu li.ativo{background:#fff; border-color:#ccc; border-bottom-color:#fff; color:#053d87}

#pg-menu-textos{background:#fff; border:1px solid #ccc; padding:20px; margin-top:-1px}
#pg-menu-textos .subcontent{display:none}
#pg-menu-textos .subcontent .titulo{margin-top:0}


/* PADRAO: Galeria de Fotos da pagina */
#pg-galeria{clear:both; float:right; width:360px; max-height:310px; background:#fff; border:1px solid #ccc; margin:0 0 10px 20px; overflow:hidden}
#pg-galeria .foto{width:350px; height:220px; overflow:hidden; margin:5px}
#pg-galeria .foto img{display:block; min-width:100%; min-height:100%; max-height:100%}

#pg-galeria ul{margin:8px 5px 6px !important}
#pg-galeria ul li{display:inline-block; margin:2px 2px 2px 3px; width:55px; height:55px; border:3px solid #fff; outline:1px solid #ddd; overflow:hidden; cursor:pointer}
#pg-galeria ul li img{display:block; min-width:100%; min-height:100%; max-height:100%; opacity:0.7}
#pg-galeria ul li:hover{outline-color:#999}
#pg-galeria ul li:hover img, #pg-galeria ul li.ativo img{opacity:1}

#pg-galeria ul li.ativo{border-color:#926600}


/* PADRAO: Link especial PDF */
#pg-txt a.link-pdf{display:block; padding:5px; background:#e3e3e3 url(img/icon-pdf.png) no-repeat 6px 6px; border:1px solid #ccc; margin:10px 0; color:#444; text-decoration:none; padding-left:30px}
#pg-txt a.link-pdf:hover{color:#000; text-decoration:underline; background-color:#ddd}



/* Lista - Tipo 1 */
#lista-t1 .item{clear:both; padding:0 0 20px; margin-bottom:20px; border-bottom:1px solid #ddd}
#lista-t1 .item h2, #lista-t2 .item h2{margin-bottom:10px; line-height:18px}
#lista-t1 .item h2 a, #lista-t2 .item h2{font-size:15px; text-decoration:none}
#lista-t1 .item h2 a:hover, #lista-t2 .item h2 a:hover{text-decoration:underline}

#lista-t1 .item .i-img{display:block; float:left; width:145px; height:106px; border:4px solid #fff; outline:1px solid #ddd; overflow:hidden; border-radius:3px; margin:0 20px 0 0}
#lista-t1 .item .i-img img{display:block; min-width:100%; min-height:100%; max-height:100%}

#lista-t1 .item p, #lista-t2 .item p{padding-bottom:10px}


/* Lista - Tipo 2 */
#lista-t2{clear:both; margin:0 auto; padding-bottom:20px}
#lista-t2 .item{display:inline-block; vertical-align:top; width:155px; padding:10px 10px 0; background:#f9f9f9; border:1px solid #e3e3e3; margin:10px 0 5px 10px}
#lista-t2 .item:hover{background:#fff; border-color:#ccc; box-shadow:0 0 5px rgba(0,0,0,0.15)}
#lista-t2 .item h2{font-size:14px; min-height:45px; color:#555}
#lista-t2 .item:hover h2{color:#926600}


/* Paginacao */
#paginacao{padding:40px 20px 20px; text-align:center !important}
#paginacao a, #paginacao span, #paginacao strong{display:inline-block; font-size:14px; line-height:14px; padding:8px 0; width:30px; color:#777; margin:0 1px 0 0; vertical-align:middle; text-decoration:none; border:1px solid transparent; border-radius:17px; text-align:center; border:1px solid #e3e3e3}
#paginacao a:hover{color:#036; background:#fff; border-color:#c3c3c3; text-decoration:underline}
#paginacao span, #paginacao strong{background:#036; color:#fff; font-weight:normal; border-color:transparent}
#paginacao .prev, #paginacao .next{padding:5px 6px; font-size:9px; background:#dfdfdf url(img/bg-menu.png) repeat-x; border:1px solid #ddd; border-bottom-color:#b7b7b7; border-radius:3px; -moz-border-radius:3px; box-shadow:0 0 0 1px #fff inset; text-shadow:1px 1px 0 #fff; cursor:pointer; text-decoration:none !important}


/* Breadcrumb */
#breadcrumb{position:relative; background:#f7f7f7 url(img/bg-breadcrumb.png) repeat-x; border:1px solid #EFEFEF; border-radius:3px; padding:2px 3px 3px; margin-bottom:15px; font-size:11px; padding-left:30px; color:#999}
#breadcrumb a{color:#A9730B; text-decoration:none; margin:0 2px}
#breadcrumb a:hover{text-decoration:underline}
#breadcrumb .home{display:block; width:25px; height: 17px; background:url(img/breadcrumb-home.png) no-repeat; position:absolute; top:0; left:1px; overflow:hidden; text-indent:-1000px; border-radius:3px 0 0 3px; margin:0}

